# https://editorconfig.org
root = true

[*]logo.png
charset = utf-8contribute
end_of_line = lfalt2
indent_size = 2
indent_style = spacegh
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[*.md]
max_line_length = 0
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = 0
